nav * {
	margin: 0;
	padding: 0;
	display:flex;
	flex-direction:row;
	flex: 1 1;
	border-style: none;
	border-width: 1px;
}

nav {
	position: fixed;
	width:100%;
	font:menu;
	background-color: #fffa;
	border-color:black;
	border-style:solid;
	border-width: 0px 0 2px 0;
	border-radius:5px;
}

nav ul{
	list-style: none;
}

nav a {
	flex-direction:row;
	align-items:flex-start;
	padding: 0.5em 10px;
	font-size: 24px;
	color: white;
	text-decoration: none;
	transition: background 0.2s;
	border-radius:30px 0 30px 0;
	background-color: #0008;
	margin:4px;
	cursor:pointer;
	user-select: none;
}

nav a:hover {
    background-color: #5eb9;
}

nav li a div {
	transform-origin: calc(100% - 0.5em);
	transform: none;
	justify-content:flex-end;
	padding:0 0 0 0.5em;
	transition: transform 0.3s;
}

nav li {
	position:relative;
}

nav ul ul {
	flex-direction:column;
	position:absolute;
	height:auto;
	width: max-content;
	min-width: 100%;
	top:100%;
    pointer-events: none;
}

nav ul ul ul {
	top: 0%;
	left:100%;
	min-width: unset;
}

nav li.drop > ul {
    pointer-events: visible;
}

nav ul ul > li {
	transform-origin:center;
	transform: 
	    translateY(calc(-100% * (var(--anim-index)))) 
	    scale(0.8);
	opacity: 0;
	transition: all 200ms calc(var(--anim-index) * 100ms);
}

nav li.drop > ul > li {
	transform: none;
	opacity: 100%;
	transition: all 200ms calc(var(--anim-reverse-index) * 100ms);
}

nav li.drop > a > div {
	transform: rotateX(180deg);
}

nav li.drop li.drop > a > div {
	transform: rotateY(180deg);
}