nav {
	margin: 0;
	padding: 0;
	width: 100%;
	position: relative;
	font:menu;
}

nav ul{
	list-style: none;
	display:flex;
}

nav a {
	display: flex;
	padding: 0.5em 10px;
	font-size: 24px;
	color: #aaa;
	text-decoration: none;
	background-color: black;
	transition: background 0.2s;
}

nav a:hover {
    background-color: gray;
}

nav > ul > li {
	width: 100%;
	position:relative;
}

nav > ul > li > ul {
	display:flex;
	flex-direction:column;
	max-height: 0vh;
	position:absolute;
	width:100%;
	overflow:hidden;
	transition: max-height 0.4s;
	border-radius:0 0 5px 5px;
}

nav > ul > li:hover > ul {
	max-height: 50vh;
}

nav > ul > li > ul > li {
	width: 100%;
	position:relative;
}