nav * {
	margin: 0;
	padding: 0;
	display:flex;
	flex-direction:row;
	flex: 1 1;
}

nav {
	position: relative;
	font:menu;
}

nav ul{
	list-style: none;
}

nav a {
	flex-direction:row;
	align-items:flex-start;
	padding: 0.5em 10px;
	font-size: 24px;
	color: #aaa;
	text-decoration: none;
	transition: background 0.2s;
	border-radius:10px;
	background-color: black;
	margin:1px;
	cursor:pointer;
}

nav a:hover {
    background-color: gray;
}

nav a div {
	justify-content:flex-end;
	padding:0 0 0 0.5em;
}

nav > ul li {
	position:relative;
}

nav > ul li > ul {
	flex-direction:column;
	position:absolute;
	height:auto;
	width: max-content;
	min-width: 100%;
	top:100%;
    pointer-events: none;
}

nav > ul li > ul > li {
	transform-origin:center;
	transform: rotateZ(45deg);
	opacity: 0;
	transition: all 200ms calc(var(--anim-index) * 80ms);
}

nav > ul > li ul > li > ul {
	top: 0%;
	left:100%;
	min-width: unset;
}

nav > ul li.drop > ul {
    pointer-events: visible;
}

nav > ul li.drop > ul > li {
	transform: none;
	opacity: 100%;
}